<div class="container">

  <%= form_for :departments, url:admin_departments_path do |f| %>

    <%= f.label 'Name' %>
    <%= f.text_field :name %>


    <%= f.label 'Description' %>
    <%= f.text_field :description %>


    <%= f.label 'Status' %>
    <%= f.text_field :status %>


    <%= f.submit %>

  <% end %>
</div>