<div class="container">

  <div class="page-header"><h1>Categories Information</h1></div>
  <%= link_to "Create New Category", new_admin_category_path,class: "btn btn-default", remote: true %>
<br><br>
  <table>
    <tr>
      <td> <input type="text" id="name" onkeyup="filter()" placeholder="Search for names.." title="Type in a name"> </td>
      <td><input type="text" id="description" onkeyup="filter()" placeholder="Search for  description.." title="Type in description"></td>
      <td><select id="status" onchange="filter()" name="status">
        <option value="">Select Status</option>
        <option value="active">Active</option>
        <option value="disabled">Not Active</option>
      </select></td>
    </tr>
  </table>


  <table class="table table-bordered" id="Table">
    <thead><th>S.No.</th><th>Name</th><th>Description</th><th>Status</th><th>Department Name</th></thead>

 <% @categories.each do |category| %>
  <tr>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <td><%= category.description  %></td>
    <td><%= category.status %></td>
    <td><%= Department.find_by(:id => category.department_id).name %></td>
    <td><%= link_to "Edit Category" ,controller: "categories" , action:"edit" , id:category.id, remote:true %></td>
  </tr>
  <%end %>
  <tr></tr>
</table>
</div>

