<!DOCTYPE html>
<html>
<head>
  <title>FixedAssetManagement</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<div class="sidenav">
  <a href="http://localhost:3000/admin/departments/">Department</a>
  <%= link_to "Create Department", new_admin_department_path, remote: true %>
  <a href="http://localhost:3000/admin/categories/">Categories</a>
  <%= link_to "Create Category", new_admin_category_path, remote: true %>
  <a href="http://localhost:3000/admin/items/">Items</a>
  <%= link_to "Create Item", new_admin_item_path, remote: true %>
</div>


<body>
<%= yield %>
</body>
</html>
